<!DOCTYPE html>

<html lang="en">
{% include 'head.twig' %}
<body>
    {% include 'header.twig' %}

    <ul class="mainMenu">
      <li><a href="zerotier">{% trans "ZeroTier" %}</a></li>
      <li class="active"><a href="account">{% trans "Account" %}</a></li>
    </ul>

    <h1>User ID</h1>
    <p>{{ userId|e }}</p>

    <h1>Group Membership(s)</h1>

    {% if userGroups is not empty %}
        <ul>
            {% for group in userGroups %}
                <li title="{{ group.id|e }}">{{ group.displayName|e }}</li>
            {% endfor %}
        </ul>
    {% else %}
        <p><a href="{{ rootFolder|e }}_voot/authorize">Retrieve Group Membership(s)</a></p>
    {% endif %}

    <h1>ZeroTier</h1>
    
    <p class="plain">
        Add your <a href="https://zerotier.com/" target="_blank">ZeroTier</a> client 
        identifier(s) here.
    </p>

    {% if zeroTierClients is not empty %}
    <p>Your currently registered ZeroTier client identifiers:</p>
    <ul>
        {% for clientId in zeroTierClients %}
            <li>{{ clientId|e }}</li>
        {% endfor %}
    </ul>
    {% endif %}

    <form method="post" action="zerotier/client">
        <fieldset>	
            <legend>{% trans "Client ID" %}</legend>
            <label for="client_id">{% trans "Client ID" %}</label>
            <input type="text" name="client_id" id="client_id" maxlength="10" placeholder="{% trans 'Client ID' %}" required pattern="[a-fA-F0-9]{10}">
            <button type="submit">{% trans "Add" %}</button>
        </fieldset>
    </form>

    {% include 'footer.twig' %}
</body>
</html>
