<!DOCTYPE html>

<html lang="en">
{% include 'head.twig' %}
<body>
    {% include 'header.twig' %}

    <ul class="mainMenu">
      <li class="active"><a href="zerotier">{% trans "ZeroTier" %}</a></li>
      <li><a href="account">{% trans "Account" %}</a></li>
    </ul>

    <p>
Below you will be able to create and see networks you are a member of. To be 
able to actually connect to them set your client identifier(s) on the 
<a href="account">Account</a> page so they will be automatically added to the 
networks you have access to. You can then join them.
    </p>
    <p>Join a network using <code>zerotier-cli join &lt;ID&gt;</code> or with the GUI.</p>

    <h1>My Networks</h1>
    <p>Overview of networks you created. Members will be automatically added based on group membership.</p>
    {% for network in networks %}
    <h2>{{ network.name|e }}</h2>
    <table>
        <tr><th>Network ID</th><td> {{ network.id|e }}</td></tr>
<!--        <tr><th>Name</th><td> {{ network.name|e }}</td></tr> -->
        <tr><th>IP Range</th><td>{{ network.ipAssignmentPools[0].ipRangeStart|e }}/24</td></tr>
        <tr><th>Authorized Group</th><td><span title="{{ network.group_id }}">{{ network.group_name|e }}</span></td></tr>
        <tr><th>Members</th>
            <td>
                {% if network.members is empty %}
                    <em>N/A</em>
                {% else %}
                    <ul class="simple">
                    {% for member in network.members %}
                        <li>{{ member.clientId|e }} ({{ member.userId|e }})</li>
                    {% endfor %}
                    </ul>
                {% endif %}
            </td>
        </tr>
    </table>
    {% endfor %}

    <h1>Other Networks</h1>
    <p>Overview of networks created by others you have access to.</p>
    <table>
        <thead>
            <tr><th>Network ID</th><th>Network Name</th><th>IP range</th><th>Authorized Group</th><th>Authorized Client IDs</th><th>Network Owner</th></tr>
        </thead>
        <tbody>
            {% for network in guestNetworks %}
                <tr>
                    <td>{{ network.id|e }}</td>
                    <td>{{ network.name|e }}</td>
                    <td>{{ network.ipAssignmentPools[0].ipRangeStart|e }}/24</td>
                    <td><span title="{{ network.group_id }}">{{ network.group_name|e }}</span></td>
                    <td>
                        {% if network.members is empty %}
                            N/A
                        {% else %}
                            <ul>
                            {% for member in network.members %}
                                <li>{{ member|e }}</li>
                            {% endfor %}
                            </ul>
                        {% endif %}
                    </td>
                    <td>{{ network.user_id|e }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>


    <h1>New Network</h1>
    <p>
Create a new network. Choose a group you want to share this network with. 
People who are a member of this group and registered their client in this 
portal will automatically be added to the network.
    </p>
    <p>Create your own group(s) <a target="_blank" href="https://teams.connect.surfconext.nl/">here</a>!</p>

    <form method="post" action="zerotier/network">
        <fieldset>
            <legend>{% trans "New" %}</legend>
            <label for="inputName">{% trans "Name" %}</label>
            <input type="text" name="name" id="inputName" maxlength="10" placeholder="{% trans 'Name' %}" required pattern="[a-zA-Z0-9-_.@]+">
            <label for="groupId">{% trans "Group" %}</label>
            <select id="groupId" name="groupId">
                {% for group in userGroups %}
                    <option value="{{ group.id|e }}">{{ group.displayName|e }}</option>
                {% endfor %}
            </select>
        </fieldset>
        <fieldset>
            <button type="submit">{% trans "Create" %}</button>
        </fieldset>
    </form>

<!-- 
    <h1>Manually Add Client</h1>
    <p>Add a client to a particular network. Use this if they can't be automatically added based on group memberships.</p>

    <form method="post" action="zerotier/member">
        <fieldset>
            <legend>{% trans "Add Client" %}</legend>
            <label for="networkId">{% trans "Network" %}</label>
            <select id="networkId" name="network_id">
                {% for network in networks %}
                    <option value="{{ network.id|e }}">{{ network.name|e }}</option>
                {% endfor %}
            </select>
            <label for="inputName">{% trans "Client ID" %}</label>
            <input type="text" name="client_id" id="inputName" maxlength="10" placeholder="{% trans 'Client ID' %}" required pattern="[a-zA-Z0-9-_.@]+">
        </fieldset>
        <fieldset>
            <button type="submit">{% trans "Add" %}</button>
        </fieldset>
    </form> 
-->

    {% include 'footer.twig' %}
</body>
</html>
